

<!doctype html>
<html lang="de-ch">
  <head>
      <style type="text/css">
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding:0px;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10pt;
        }
        div {
        }

        #wrapper {
            min-height: 100%; 
        }

        #topbar {
          margin: 0;
          height: 70px;
          width: 100%;
          padding: 0;
          background-color: #000000;
          opacity: 0.7;
          position: absolute;
          top: 0;
          padding-top: 30px;
          display: inline;
        }
        #leftbar {
          margin: 0;
          top: 110px;
          min-width: 200px;
          min-height: 40px;
          left: 0;
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: #000000;
          opacity: 0.7;
          position: absolute;
          
        }
        #bottombar {
          margin: 0;
          height: 30px;
          width: 100%;
          padding: 0;
          background-color: #000000;
          opacity: 0.7;
          position: absolute;
          bottom: 0;
        }
        #map {
          display: block;
        }
        #totalstat {
          float: right;
          right: 30px;
          padding-right: 30px;
          padding-left: 30px;
        }
        #userinfo {
          float: right;
          right: 30px;
          padding-right: 30px;
          min-width: 100px;
          padding-left: 30px;
          text-align: center;
        }
        .stat_record {
          display: block;
          float: left;
          clear: both;
        }
        #logo {
          padding-left: 100px;
          width: 200px;
          display: inline;
        }
        .map-layer {
          padding-top: 5px;
          padding-bottom: 5px;
          background-color: #222;
          margin-bottom: 1px;
        }
    </style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://openlayers.org/en/v4.3.1/css/ol.css" type="text/css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.3.1/build/ol.js"></script>    <title>Cockpit</title>
  </head>
  <body>
    <div id="root" style="width: 100%; height: 100%;">
      <div id="map" style="width: 100%; height: 100%;"></div>
      <div id="topbar" style="width: 100%;">
        <div id="logo">
            <img width="200px" height="50px" src="img/logo.svg"></img>
          </div>
            <div id="userinfo">
                  <svg height="40" width="40">
                    <circle cx="20" cy="20" r="15" stroke="black" stroke-width="0" fill="#ccc" />
                  </svg>
                <div id="username">
                    <%= user.displayName %>
                </div>
            </div>
            <div id="totalstat">
              <div class="stat_record">Gedruckt: <%=  100*total_data.total_printed %>%</div>
              <div class="stat_record">Gesponsert: <%=  100*total_data.total_sell %>%</div>
              <div class="stat_record">Datenvorbereitet: <%=  100*total_data.total_prepared %>%</div>          
            </div>
      </div>
      <div id="leftbar">
        <p>Dargestellte Daten</p>
        <div id="layer_selection">
            <div class="map-layer">
                <label class="lg_el_checkbox" data-layer="kachelung">
                    <input type="checkbox" class="layer_visible" checked>
                Modellkacheln</label>
                <div class="lg_el_control"></div>
            </div>
            <div class="map-layer">
                <label class="lg_el_checkbox" data-layer="gedruckt">
                    <input type="checkbox" class="layer_visible" >
                Kacheln Gedruckt</label>
                <div class="lg_el_control"></div>
            </div>
            <div class="map-layer">
                <label class="lg_el_checkbox" data-layer="verkauft">
                    <input type="checkbox" class="layer_visible" >
                Kacheln Verkauft</label>
                <div class="lg_el_control"></div>
            </div>
            <div class="map-layer">
                <label class="lg_el_checkbox" data-layer="aufbereitet">
                    <input type="checkbox" class="layer_visible" >
                Daten Aufbereitet</label>
                <div class="lg_el_control"></div>
            </div>
        </div>
      </div>
      <div id="property_panel"></div>
      <div id="bottombar">
        <div id="location"></div>
        <div id="scale">
      </div>

      <script>
        var selection = {

        };
          var mousePositionControl = new ol.control.MousePosition({
            className: 'custom-mouse-position',
            target: document.getElementById('location'),
            coordinateFormat: ol.coordinate.createStringXY(5),
            undefinedHTML: '&nbsp;'
          });
        var layers = [
/*          new ol.layer.Tile({
            source: new ol.source.TileWMS({
              attributions: '© <a href="http://www.geo.admin.ch/internet/geoportal/' + 
                  'en/home.html">Pixelmap 1:1000000 / geo.admin.ch</a>',
              crossOrigin: 'anonymous',
              params: {
                'LAYERS': 'ch.swisstopo.pixelkarte-farbe-pk1000.noscale',
                'FORMAT': 'image/jpeg'
              },
              url: 'https://wms.geo.admin.ch/'
            })
          }),*/
          new ol.layer.Tile({
            source: new ol.source.TileWMS({
              url: 'https://185.194.141.168/geoserver/smrl/wms',
              params: {'FORMAT': 'image/png', 
                        'VERSION': '1.3.0',
                        tiled: true,
                    STYLES: '',
                    LAYERS: 'smrl:av_gebaude'
              }
            })
          }),
          new ol.layer.Vector({
            source: new ol.source.Vector({
                format: new ol.format.GeoJSON(),
                url: function(extent) {
                  return 'https://185.194.141.168/geoserver/smrl/wfs?service=WFS&' +
                      'version=1.1.0&request=GetFeature&typename=smrl:ssrl_kachelung_sym&' +
                      'outputFormat=application/json&srsname=EPSG:21781&' +
                      'bbox=' + extent.join(',') + ',EPSG:21781';
                },
                strategy: ol.loadingstrategy.bbox
              }),
            style: new ol.style.Style({
              stroke: new ol.style.Stroke({
                color: 'rgba(0, 0, 255, 1.0)',
                width: 2
              })
            })
          }),
          new ol.layer.Image({
            source: new ol.source.ImageWMS({
              attributions: '© <a href="http://www.geo.admin.ch/internet/geoportal/' +
                  'en/home.html">National parks / geo.admin.ch</a>',
              crossOrigin: 'anonymous',
              params: {'LAYERS': 'ch.bafu.schutzgebiete-paerke_nationaler_bedeutung'},
              serverType: 'mapserver',
              url: 'https://wms.geo.admin.ch/'
            })
          })
          ,
          new ol.layer.Tile({
            source: new ol.source.TileWMS({
              url: 'https://185.194.141.168/geoserver/smrl/wms',
              params: {'FORMAT': 'image/png', 
                        'VERSION': '1.3.0',
                        tiled: true,
                    STYLES: '',
                    LAYERS: 'smrl:ssrl_kachelung_schwarz'
              }
            })
          })
        ];

        var projection = new ol.proj.Projection({
          code: 'EPSG:21781',
          units: 'm'
        });

        var map = new ol.Map({
          controls: ol.control.defaults({
            attribution: false
          }).extend([mousePositionControl]),
          layers: layers,
          target: 'map',
          view: new ol.View({
            center: [660000, 190000],
            projection: projection,
            zoom: 9
          })
        });

        map.getView().on('change:resolution', function(evt) {
          var resolution = evt.target.get('resolution');
          var units = map.getView().getProjection().getUnits();
          var dpi = 25.4 / 0.28;
          var mpu = ol.proj.METERS_PER_UNIT[units];
          var scale = resolution * mpu * 39.37 * dpi;
          if (scale >= 9500 && scale <= 950000) {
            scale = Math.round(scale / 1000) + "K";
          } else if (scale >= 950000) {
            scale = Math.round(scale / 1000000) + "M";
          } else {
            scale = Math.round(scale);
          }
          document.getElementById('scale').innerHTML = "Scale = 1 : " + scale;
        });

        map.on('singleclick', function(evt) {
          document.getElementById('nodelist').innerHTML = "Loading... please wait...";
          var view = map.getView();
          var viewResolution = view.getResolution();
          var source = untiled.get('visible') ? untiled.getSource() : tiled.getSource();
          var url = source.getGetFeatureInfoUrl(
            evt.coordinate, viewResolution, view.getProjection(),
            {'INFO_FORMAT': 'application/json', 'FEATURE_COUNT': 50});
          if (url) {
            document.getElementById('nodelist').innerHTML = '<iframe seamless src="' + url + '"></iframe>';
          }
        });

      </script>
    </div>
  </body>
</html>
